In [4]:
# Import the required libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# Import the file 'energy_efficiency_data.csv'
df = pd.read_csv('energy_efficiency_data.csv')

# Print the number of rows ans columns in df
print(df.shape)

# Print the first five rows of df
df.head()

(768, 10)

,Relative_Compactness,Surface_Area,Wall_Area,Roof_Area,Overall_Height,Orientation,Glazing_Area,Glazing_Area_Distribution,Heating_Load,Cooling_Load
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28

In [6]:
df['Surface_Area'].mean()

671.7083333333334

In [10]:
df['Glazing_Area'].mean()

0.234375

In [11]:
df['Wall_Area'].quantile(.9)

367.5

In [12]:
df['Heating_Load'].std()

10.090195732006158

In [13]:
df['Heating_Load'].mean()

22.307200520833334

In [15]:
df['Cooling_Load'].std()

9.513305562326169

In [16]:
df['Cooling_Load'].mean()

24.58776041666667